<li><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="54%"><div align="center"><a href="$g_o_back2root/$articlehtmllink"><img src="$g_o_back2root/showimg.php?iid=$article[imageid]" width="160" height="120" border="0"></a></div></td>
    <td width="46%" class="narmalfont">&nbsp;&nbsp;&nbsp;&nbsp;<a href="$g_o_back2root/$articlehtmllink" title=$title><font color="#FF6600">$article[title]</font></a><br>
      &nbsp;&nbsp;&nbsp;&nbsp;$article[description]&nbsp;&nbsp;&nbsp;&nbsp;<font color="#99CC00">$article[date]</font></td>
  </tr>
</table></li>