<form method="post" name="form" action="index.php?mod=member">
      <fieldset><legend>修改密码</legend>
		<div>
			<label>旧密码:</label>
			<input name="oldpassword" type="password" maxlength="50" size="30" />
		</div>
		<div>
			<label>新密码:</label>
			<input name="newpassword1" type="password" maxlength="50" size="30" />
		</div>
		<div>
			<label>确认新密码:</label>
			<input name="newpassword2" type="password" maxlength="50" size="30" />
		</div>

            <div class=enter>
              <input type="hidden" name="action" value="updatepassword">
              <input type="submit" class="buttot" value="  提交  ">
              <input type="reset" class="buttot" value="  重置  ">
            </div>


      </fieldset>
</form>