{T_TEMPLATE html_doctype/}
{T_IMPORT_SRC recommend_src/}
{T_TEMPLATE functions/}
{T_TEMPLATE header/}

<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title><?=\$phparticletitle?> - 发送邮件</title>
{T_TEMPLATE headinclude/}
</head>
{T_CHTML_BLOCK recommend
<!-- BEGIN navbar_joiner -->
&nbsp;>&nbsp;
<!-- END navbar_joiner -->
<!-- BEGIN navbar_sendemail -->
发送邮件
<!-- END navbar_sendemail -->
<!-- BEGIN mail_recommendtofriend_content -->
你的朋友 \$pauserinfo[username] 向你推荐 '\$article[title]' 这篇文章,或许你对该文章会感兴趣或给你带来帮助.

请点击以下链接查看:
\$phparticleurl/\$articlehtmllink
<!-- END mail_recommendtofriend_content -->
/}
<div class="mainline">&nbsp;</div>
<!-- 主栏目开始 -->
<div class="maincolumn">
		<div class="pagelist">
		<div class="pagelisttitleico">&nbsp;</div>
		<div class="pagelisttitlebg">
		<div class="pagelisttitlename">
<?=\$navbar?>
		</div>
		</div>

		<div class="clear">&nbsp;</div>
		<div class="pagecontent">
					<div class="title"> 
					  <h1><a href="<?=\$phparticleurl?>/<?=\$articlehtmllink?>"><?=\$article[title]?></a><?=\$navbit?></h1> 
					  <h2><strong>日期：</strong><?=\$article[date]?>&nbsp;&nbsp;<strong>点击：</strong><script src="<?=\$phparticleurl?>/count.php"></script>&nbsp;&nbsp;<strong>作者：</strong><?=\$article[author]?> &nbsp;&nbsp;<strong>来源：</strong><?=\$article[source]?></h2> 
					</div>
					<div class="reg">

<fieldset><legend>推荐给好友</legend>
  <form method="post" action="<?=\$g_o_back2root?>/index.php?mod=recommend">
                <div>
                  <label>收件人:</label>

                    <input type="text" name="recipients">

                </div>
                <div>
                  <label>收件人Email:</label>

                    <input type="text" name="mailto">

                </div>
                <div>
                  <label>内容:</label>
                    <textarea name="content" cols="60" rows="10" value="<?=\$content?>"><?=\$content?></textarea>

                </div>
                <div class=enter>
                    <input type="hidden" name="action" value="send">
                    <input type="hidden" name="articleid" value="<?=\$articleid?>">
                    <input type="hidden" name="pagenum" value="<?=\$pagenum?>">
                    <input type="submit" value="发送邮件" class="buttot">
                    <input type="reset" value=" 重  置 "  class="buttot">

                </div>

  </form>
</fieldset>

		</div>



		</div>
		<div class="tool">
			<span></span>
			<a href="<?=\$g_o_back2root?>/index.php?mod=comment&articleid=<?=\$articleid?>&action=add" class="button_content" title="添加评论" target="_self">添加评论</a>
			<a href="<?=\$g_o_back2root?>/index.php?mod=comment&articleid=<?=\$articleid?>&action=view" class="button_content" title="浏览评论" target="_self">浏览评论</a>
			<a href="<?=\$g_o_back2root?>/index.php?mod=print&articleid=<?=\$articleid?>" class="button_content" title="打印本文" target="_self">打印本文</a>
			<a href="javascript:window.close();" class="button_content">关闭窗口</a>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="pagelistfooter">
			<div id="bklist"><a href="javascript:history.go(-1);"><img src="<?=\$phparticleurl?>/images/ar2u.gif" width="5" height="8" /> 返回列表</a></div> 
          <div id="prv">
            <img src="<?=\$phparticleurl?>/images/ar2b.gif" width="6" height="7" />&nbsp;
          </div> 
          <div id="next">
            <img src="<?=\$phparticleurl?>/images/ar2.gif" width="6" height="7" />&nbsp;下面没有链接了
          </div> 
		</div>

</div>

</div>

{T_TEMPLATE footer/}
</body>
</html>