<form method="post" action="<?=\$g_o_back2root?>/index.php?mod=comment" onSubmit="return process_data(this)">
<fieldset><legend>快速发表评论</legend>

  <div>
    <label>标题:</label>
      <input type="text" name="title" maxlength="50" size="50">
  </div>
  <div>
    <label>内容:</label>
      <textarea name="message" cols="70" rows="6"></textarea>
    </label>
  </div>
  <div class=enter>
      <input type="hidden" name="articleid" value="<?=\$articleid?>">
      <input type="hidden" name="action" value="doinsert">
      <input type="submit" value=" 发  表 " class="buttot">
      <input type="submit" name="preview" value=" 预  览 " class="buttot">
      <input type="reset" value=" 重  置 " class="buttot">
  </div>


</fieldset>
                        </form>

<script type="text/javascript">
<!--
function process_data(theform) {

                if (theform.title.value=="") {
                        alert("请输入标题!");
                        theform.title.focus();
                        return false;
                }

                if (theform.message.value=="") {
                        alert("请填写内容!");
                        theform.message.focus();
                        return false;
                }

}

//-->
</script>